.file {
    display: none;
}

.drag {
    display: none;
    height: 30rem;
    width: 30rem;
    background-color: rgb(255, 183, 0);
    margin: auto;
    margin-top: 1rem;
    border: 3px gray dashed;
    color: gray;
    font-size: 1.25rem;
    cursor: pointer;

    p {
        text-align: center;
        margin-top: 50%;
        transform: translateY(-50%);
    }

    i {
        color: gray;
        width: 100%;
        text-align: center;
    }
}

.drag-hover {
    border: 3px black dashed;
    color: black;

    i {
        color: black;
    }
}