.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .options {
        display: none;
    }

    .user-config {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px black solid;
        padding: 10px;
        border-radius: 25px;
        background-color: rgb(255, 183, 0);

        label {
            margin: 5px 0;
        }

        button {
            margin-top: 5px;
        }

        select {
            margin-bottom: 10px;
        }

        .question {
            width: 100%;
        }
    }
}

.buttons {
    font-size: 1.35rem;
    width: 10rem;
    margin-left: 10px;
    background-color: white;
    color: black;
    transition: 0.6s;
    margin: auto;

    &:hover{
        background-color: black;
        color: white;
        cursor: pointer;
    }
}

#register-body {
    display: none;
}