.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .options {
        display: none;
    }

    .user-config {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px black solid;
        padding: 10px;
        border-radius: 25px;
        background-color: rgb(255, 183, 0);

        label {
            margin: 5px 0;
        }

        button {
            margin-top: 5px;
        }

        select {
            margin-bottom: 10px;
        }

        .question {
            width: 100%;
        }
    }
}

#register-body {
    display: none;
}