@use '../utilities/' as *;

.progress {
    display: none;
    margin-top: 0.5rem;

    p {
        text-align: center;
        font-size: 1.1rem;
        margin-top: 5px;
    }
}

.bar-container {
    width: 10rem;
    height: 0.5rem;
    border: 2px black solid;
    border-radius: 10px;
    margin: auto;
    background-color: black;
}

.bar {
    width: 50%;
    height: 100%;
    background-color: $light-orange;
    border-radius: 10px;
}

.storage-container {
    width: 25rem;
    height: 1.25rem;
    border: 2px black solid;
    border-radius: 25px;
    margin: auto;
    margin-top: 5px;
    background-color: black;

    p {
        width: 100%;
        text-align: center;
        margin-top: 3px;
    }

}

.storage-bar {
    width: 50%;
    height: 100%;
    background-color: $light-orange;
    border-radius: 25px;
}