@use '../utilities/' as *;

* {
    margin: 0;
    padding: 0;
    font-family: 'Syne Mono', monospace;
}

body {
    background-color: $orange;
}

img {
    height: 15rem;
    width: 15rem;
    cursor: pointer;
}

a {
    color: $black;
}