@use '../utilities/' as *;

@mixin card {
    width: 70%;
    margin: auto;
    padding: 1rem;
    border: 3px $black solid;
    border-radius: 25px;
    background-color: $light-orange;
}

.alert {
    @include card();
    display: none;
    margin-top: 1rem;
    text-align: center;

    span {
        cursor: pointer;
    }
}

.card-container {
    display: none;
    position: fixed;
    width: 100%;
    margin-top: 17rem;

    .card {
        display: flex;
        @include card();
    }
}