* {
    margin: 0;
    padding: 0;
    font-family: 'Syne Mono', monospace;
}

body {
    background-color: rgb(255, 153, 0);
}

img {
    height: 15rem;
    width: 15rem;
    cursor: pointer;
}

a {
    color: black;
}